@import 'src/styles/main';

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 7px 4px;

    &.success {
        background-color: $color-success;
    }
    &.outline {
        background-color: transparent;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
    &.info {
        background-color: $color-grey;
    }
}
