@import 'src/styles/main';

.pagination {
    .page-item.active .page-link {
        color: $color-black !important;
    }

    .page-item.active:not(.without-border) .page-link {
        border-color: $color-black !important;
        border-left-width: 3px;
        border-right-width: 3px;
    }

    .page-item .page-link {
        cursor: pointer;
        border-radius: 3px !important;
        border-color: $color-white !important;
        border-style: solid !important;
        border-top-width: 3px !important;
        border-bottom-width: 3px !important;
        background-color: $color-white !important;
        color: $color-muted !important;
    }
    
    .page-item.disabled .page-link {
        cursor: unset;
        color: $color-muted !important;
    }

    .page-item:first-child .page-link {
        border-top-left-radius: 14px !important;
        border-bottom-left-radius: 14px !important;
    }

    .page-item:last-child .page-link {
        border-top-right-radius: 14px !important;
        border-bottom-right-radius: 14px !important;
    }
}
