@import 'src/styles/main';

.main-layout {
    padding-top: 130px;
    padding-bottom: 60px;
    min-height: 100vh;
    background-color: $color-background;
    background-image: url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg'), url('../../assets/images/star.svg');
    background-position: percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100), percentage(random(100) / 100) percentage(random(100) / 100);
    background-repeat: no-repeat no-repeat;
    overflow: hidden;
    white-space: pre-line;
}
