@import 'src/styles/main';

#editDepositModal {
    .edit-address-input,
    .edit-amount-input {
        background-color: var(--color-white);
        border: none;
        border-radius: 8px;
        &.error {
            border: 1px solid var(--color-failure);
        }
        &:focus {
            outline: none;
        }
    }

    .edit-address-input {
        color: var(--color-primary);
        font-size: 14px;
        padding: 15px 12px;
    }

    .edit-amount-input {
        font-size: 18px;
        padding: 12px 12px;
    }

    label {
        color: var(--color-primary);
    }

    p.error-message {
        color: var(--color-failure);
    }
}
