@import 'src/styles/main';

.landing-container {
    padding-top: 80px;

    h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 80px;
        color: $color-primary;

        @include media-breakpoint-down(xxl) {
            font-size: 55px;
            line-height: 70px;
        }

        @include media-breakpoint-down(md) {
            font-size: 38px;
            line-height: 46px;
        }
    }

    h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 50px;
        color: $color-primary;
    }

    p {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: $color-black;
        margin-bottom: 24px;

        @include media-breakpoint-down(md) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .saving-left {
        .cta {
            margin-top: 8px;
            width: 180px;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .cosmos-game-left {
        height: 480px;

        .cosmos-with-balloons {
            position: absolute;
            width: 550px;
            height: 550px;
            right: 0;
            top: -120px;

            @include media-breakpoint-down(xl) {
                width: 494px;
                height: 494px;
                top: 0;
                right: unset;
                left: calc(50% - 247px);
            }
        }
    }

    .cosmos-game-right {
        margin-top: 70px;
    }

    .winners {
        padding-top: 70px;

        .square {
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 10px;
            background-color: $color-primary;
            display: flex;
            justify-content: center;

            .cosmonaut-coin {
                position: absolute;
                top: -45px;
                left: -22px;
                width: 190px;
                height: 190px;
            }

            .cosmonaut-balloons {
                position: absolute;
                left: -30px;
                top: -60px;
                width: 220px;
                height: 220px;
            }

            .cosmonaut-duck {
                position: absolute;
                top: -48px;
                left: -30px;
                width: 207px;
                height: 207px;
            }

            .cosmonaut-zen {
                position: absolute;
                top: -12px;
                left: 0;
                width: 161px;
                height: 161px;
            }
        }

        .image-group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 350px;

            @include media-breakpoint-down(xl) {
                height: unset;
            }

            .legend {
                position: unset;
                margin-left: 24px;
                width: 60%;
                text-align: left;

                @include media-breakpoint-down(xxl) {
                    width: 49%;
                }

                @include media-breakpoint-down(xl) {
                    width: 40%;
                    text-align: center;
                }

                @include media-breakpoint-down(md) {
                    width: 60%;
                }

                @include media-breakpoint-down(sm) {
                    width: 90%;
                }
            }

            .or {
                display: none;
                @include media-breakpoint-down(xl) {
                    display: unset;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 38px;
                    text-align: center;
                    color: $color-primary;
                    margin: 40px 0;
                }
            }
        }

        .number {
            position: absolute;
            bottom: 57px;
            width: 42px;
            height: 42px;
            border-radius: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            background-color: $color-primary;
            color: $color-white;
            margin: 24px 0;

            @include media-breakpoint-down(xl) {
                position: unset;
                margin: 12px 0;
            }
        }

        .legend {
            bottom: 25px;
            position: absolute;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: $color-black;

            @include media-breakpoint-down(xl) {
                position: unset;
            }
        }

        .arrow {
            @include media-breakpoint-down(xl) {
                transform: rotate(90deg);
                margin: 50px 0 80px 0;
            }
        }

        .arrow-double {
            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }

    .pools {
        padding-top: 70px;

        .tvl-legend {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: $color-primary;
        }

        .tvl-value {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: $color-black;
        }

        .cta {
            width: 150px;

            @include media-breakpoint-down(xl) {
                width: 250px;
            }

            @include media-breakpoint-down(lg) {
                width: 80%;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .pools-cards-container {
            .pool-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-right: 24px;
                flex: 0 0 auto;
                width: 416px;
                height: 390px;

                @include media-breakpoint-down(xxl) {
                    width: 356px;
                }

                @include media-breakpoint-down(lg) {
                    width: 350px;
                }

                @include media-breakpoint-down(md) {
                    width: 320px;
                }

                .name {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: $color-black;
                    border: $color-black 1px solid;
                    border-radius: 20px;
                    padding: 4px 10px;
                    text-transform: uppercase;
                }

                .tvl-container {
                    .tvl-value {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                    }

                    .tvl {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 34px;
                        line-height: 41px;
                        color: $color-black;
                        text-transform: uppercase;
                    }

                    .tvl-legend {
                        text-transform: uppercase;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        color: $color-black;
                    }
                }

                .prize-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 24px;
                    color: $color-primary;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }

    .testimonials {
        .testimonials-container {
            padding-top: 170px;

            @include media-breakpoint-up(xl) {
                display: flex;
                justify-content: center;
            }

            .testimonial-card {
                margin-right: 24px;
                min-width: 271px;
                max-width: 271px;
                width: 271px;

                img {
                    position: absolute;
                    width: 144px;
                    height: 144px;
                    top: calc(-72px);
                    left: calc(50% - 72px);
                }

                .author {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 38px;
                    text-align: center;
                    color: $color-primary;
                }

                .network {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: $color-primary;
                    border: 1px solid $color-primary;
                    border-radius: 20px;
                    padding: 4px 10px;
                }

                .quote {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: $color-black;
                    position: relative;

                    .symbol {
                        color: $color-primary;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 34px;
                        position: absolute;

                        &.first {
                            top: -15px;
                            left: -15px;
                        }

                        &.second {
                            bottom: -15px;
                            right: -15px;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }

    .future-right {
        height: 400px;

        @include media-breakpoint-down(md) {
            height: 270px;
        }

        .cosmonaut-in-pool {
            position: absolute;
            width: 556px;
            height: 556px;
            top: -100px;

            @include media-breakpoint-down(xl) {
                top: -50px;
            }

            @include media-breakpoint-down(md) {
                width: 426px;
                height: 426px;
            }
        }
    }

    .future-left {
        .cta {
            width: 230px;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    .community {
        padding-top: 150px;

        .community-card {
            .cosmonaut-rocket {
                position: absolute;
                width: 252px;
                height: 252px;
                top: -130px;
                left: -130px;
            }

            @include media-breakpoint-down(md) {
                padding-top: 100px !important;

                .cosmonaut-rocket {
                    left: calc(50% - 126px);
                }
            }
        }
    }

    .faq {
        padding-top: 150px;
    }

    .footer {
        padding-top: 200px;

        .cosmonaut-dab {
            position: absolute;
            width: 252px;
            height: 252px;
            top: -215px;
            left: calc(50% - 126px);
        }
    }
}
