@import 'src/styles/main';

.my-savings-container {
    h1 {
        @include media-breakpoint-down(lg) {
            @include font-size(2rem);
        }
    }

    h2 {
        @include media-breakpoint-down(lg) {
            @include font-size(1.5rem);
        }
    }

    .balance-card {
        height: 100%;
        background-color: $color-primary;
        color: white;
        position: relative;

        .balance-number {
            font-size: 78px;
            font-weight: 400;
            line-height: 94px;
            letter-spacing: 0;
            text-align: left;
            color: white;
        }

        .coins-container {
            overflow: hidden;

            .coin-1 {
                position: absolute;
                height: 38px;
                width: 38px;
                top: -5%;
                left: 35%;
                object-fit: contain;
            }
            .coin-2 {
                position: absolute;
                height: 39px;
                width: 39px;
                right: -2%;
                top: 10%;
            }
            .coin-3 {
                position: absolute;
                height: 65px;
                width: 65px;
                right: 35%;
                bottom: -21.7px;
                object-fit: contain;
            }
        }

        .cosmonaut {
            width: 190px;
            height: 190px;
            object-fit: contain;
            position: absolute;
            right: -30px;
            top: calc(190px / 2 * -1);
        }
    }

    .asset-card {
        margin-bottom: 1.5rem;
        background-color: $color-primary-light;
        border-radius: 12px;
        padding: 40px 32px;

        cursor: default;

        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
        }

        .denom-icon {
            width: 50px;
            height: 50px;
            margin-right: 1rem;
            object-fit: contain;
        }

        .denom-unknown-icon {
            width: 50px;
            height: 50px;
            margin-right: 1rem;
            background-color: $color-primary;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        .action-buttons {
            z-index: 5;

            @include media-breakpoint-down(md) {
                .app-btn {
                    font-size: 12px;
                    padding: 12px 18px;
                }
            }

            @include media-breakpoint-only(lg) {
                .app-btn {
                    font-size: 12px;
                    padding: 12px 18px;
                }
            }
        }

        &.collapsible {
            border: none;

            .collapsible-title {
                width: 100%;
                justify-content: stretch;
            }

            .asset-details-card {
                min-width: 243px;

                .asset-details-icon-container {
                    width: 30px;
                    height: 30px;
                    border-radius: 6.5625px;
                    background-color: $color-primary;

                    img {
                        width: 15px;
                        height: 15px;
                    }
                }

                .asset-detail {
                    font-size: 12px;
                    color: $color-primary;

                    .asset-detail-amount {
                        font-size: 14px;
                        color: $color-black;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .expiration-date {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #fa7676;
    }

    .asset-amount {
        color: $color-primary;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0;
        text-align: left;

        small {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0;
            text-align: left;
            color: $color-primary;
        }

        .subtitle {
            color: $color-black;
            font-size: 14px;
        }

        @include media-breakpoint-only(lg) {
            font-size: 20px;
        }

        @include media-breakpoint-down(md) {
            font-size: 20px;
        }
    }

    .prize-to-claim {
        .denom-icon {
            width: 40px;
            height: 40px;
            margin-right: 1rem;
            object-fit: contain;
        }
    }

    .my-savings-cta {
        width: 100%;
    }

    .cosmonaut-with-balloons {
        width: 165px;
        height: 165px;
    }

    .new-prize-card {
        background-color: $color-success-light;

        .claim-btn {
            background-color: $color-success;
            border-color: $color-success;
        }

        h3 {
            color: $color-success;
        }

        p {
            color: $color-black;
        }
    }

    .leaderboard-section {
        .leaderboard {
            animation: unset;
            opacity: 1;
        }
    }

    #withdrawModal {
        .withdraw-title {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0;
            text-align: center;
            color: $color-black;
        }
        .arrow-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: $color-primary;

            img {
                width: 10px;
                height: 10px;
            }
        }

        .address-container {
            background-color: $color-primary-light;
            border-radius: 12px;
            padding: 1rem 1.5rem;
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
        }
    }

    #claimOnlyModal {
        h3 {
            color: $color-black;
        }

        p {
            font-weight: 400;
            font-size: 16px;
        }

        .claim-only-warning {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }
    }
}
