@import 'src/styles/main';

.app-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    border-radius: 12px;
    cursor: pointer;
    transition: all linear 150ms;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-width: 3px;
    border-style: solid;
    border-color: $color-primary;
    text-decoration: none;

    &:not(.app-btn-text) {
        @include media-breakpoint-down(md) {
            padding: 13px 15px;
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.3;
        transform: scale(1) !important;
    }
}

.app-btn:hover {
    transform: scale(1.048);
}

.app-btn-outline {
    background-color: transparent !important;
    border-width: 3px;
    border-style: solid;
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-primary;
    }
}

.app-btn-plain {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}

.app-btn-text {
    background-color: transparent;
    border: none;
    color: $color-primary;
    padding: 0;

    &:hover {
        color: $color-primary;
    }
}
