@import 'src/styles/main';

#drawDetailsModal {
    h4 {
        color: var(--color-black);
    }

    .next-pool-info {
        color: var(--color-black);
        font-weight: 400;
    }

    .date {
        font-size: 12px;
        font-weight: 300;
        color: var(--color-muted);
    }

    .redelegated-prizes-card {
        .prize-remaining-amount {
            color: var(--color-primary);
        }
    }

    .draw-winners-table-container {
        .draw-winners-table {
            .table tbody tr td {
                padding: 25px 32px;

                .tx-icon-container {
                    width: 32px;
                    height: 32px;

                    background: #ffffff;
                    border-radius: 7px;

                    img {
                        width: 14px;
                        height: 14px;
                        object-fit: contain;
                    }
                }

                .winner-address {
                    color: var(--color-black);
                    font-size: 14px;
                    font-weight: 400;
                }

                .tx-amount {
                    .amount {
                        color: var(--color-primary);
                    }

                    .usd-price {
                        color: var(--color-black);
                    }
                }

                .usd-price {
                    font-size: 14px;
                    color: var(--color-black);
                    font-weight: 200;
                }
            }
        }

        .pagination {
            .page-item .page-link {
                background-color: var(--color-background) !important;
                border-color: var(--color-background) !important;
            }
            .page-item.active:not(.without-border) .page-link {
                border-color: var(--color-black) !important;
            }
        }
    }
}
