@import 'src/styles/main';

.pool-details-container {
    h1 {
        @include media-breakpoint-down(lg) {
            @include font-size(2rem);
        }
        @include media-breakpoint-down(sm) {
            @include font-size(1.5rem);
        }
    }

    h2 {
        @include media-breakpoint-down(lg) {
            @include font-size(1.5rem);
        }
        @include media-breakpoint-down(sm) {
            @include font-size(1rem);
        }
    }

    h4 {
        @include media-breakpoint-down(lg) {
            @include font-size(1.125rem);
        }
        @include media-breakpoint-down(sm) {
            @include font-size(0.75rem);
        }
    }

    small.sub-title {
        font-size: 12px;
        color: var(--color-primary);
    }

    .pool-icon {
        width: 64px;
        height: 64px;

        @include media-breakpoint-down(lg) {
            width: 40px;
            height: 40px;
        }
    }

    .prize-draw-card {
        margin-top: 4rem;
        padding: 32px 32px;

        .pool-illustration {
            position: absolute;
            right: 3rem;
            bottom: 0;
            width: 232px;
            height: 235px;
        }

        .biggest-prize-container {
            width: 300px;
        }

        .next-draw-container {
            width: 400px;

            .draw-in-progress {
                font-size: 18px;
            }
        }

        @include media-breakpoint-down(lg) {
            margin-top: 2rem;
        }
    }

    .big-winner-card {
        @include media-breakpoint-down(lg) {
            width: auto;
        }
    }

    .deposit-btn {
        height: fit-content;
    }

    .cosmonaut-dab {
        width: 252px;
        height: 252px;
        margin-bottom: -84px;

        @include media-breakpoint-only(lg) {
            margin-bottom: -60px;
        }

        @include media-breakpoint-down(lg) {
            width: 190px;
            height: 190px;
            margin-bottom: -52px;
        }
    }

    .stat-bg-white,
    .tvl-detail-card {
        background-color: var(--color-white);
        color: var(--color-primary);
        border-radius: 8px;
        padding: 14px 22px;
    }

    .tvl-detail-card {
        padding: 22px 22px;

        .tvl-detail-amount {
            font-size: 24px;
            color: var(--color-black);

            .denom {
                color: var(--color-purple);
            }
        }

        .usd-amount {
            font-size: 12px;
            color: var(--color-black);
            font-weight: 200;
        }
    }

    .my-deposits-card,
    .tvl-details-card {
        padding: 40px 32px;

        @include media-breakpoint-down(md) {
            padding: 24px;
        }
    }

    .prize-distribution-card {
        padding: 22px 32px;

        .prize-distribution-table {
            .table thead tr th {
                color: var(--color-primary);
            }

            .table tbody tr td {
                color: var(--color-primary);
                background: var(--color-white);
                padding: 1.5rem 0;
            }
            .table tbody tr td:first-child,
            .table tbody tr td:last-child {
                padding: 1.5rem 1.5rem;
            }

            .rank, .rank td {
                background-color: var(--color-primary) !important;
                color: var(--color-white) !important;
            }

            .rank.first, .rank.first td {
                background-color: #ffba20 !important;
            }

            .rank.second, .rank.second td {
                background-color: #93949b !important;
            }

            .rank.third, .rank.third td {
                background-color: #c07a50 !important;
            }

            .percentage {
                font-size: 12px;
            }
        }

        @include media-breakpoint-down(md) {
            padding: 24px;
        }
    }

    .winning-chances-card {
        padding: 40px 32px;

        .chance-to-win {
            font-size: 22px;
        }

        .estimation-input-container {
            border: 2.5px solid color-mix(in srgb, var(--color-purple) 20%, transparent);
            border-radius: 12px;
            color: var(--color-black);

            input {
                border: 0;
                background: transparent;
                font-size: 22px;
                color: var(--color-black);

                &:focus {
                    outline: none;
                }
            }

            .crypto-amount {
                color: var(--color-dark-grey);
                font-weight: 300;
                font-size: 12px;
            }
        }
    }

    .draws-history-card {
        padding: 22px 32px;
        .draws-history-table {
            .table tbody tr {
                cursor: pointer;
                td {
                    color: var(--color-primary);
                    background: var(--color-white);
                    padding: 1.5rem 0;
                }

                td:first-child,
                td:last-child {
                    padding: 1.5rem 1.5rem;
                }
            }
        }

        .draws-history-pagination {
            .page-item.active .page-link {
                color: var(--color-primary) !important;
            }

            .page-item.active:not(.without-border) .page-link {
                border-color: var(--color-primary) !important;
            }

            .page-item .page-link {
                border-color: transparent !important;
                background-color: transparent !important;
                color: color-mix(in srgb, var(--color-primary) 30%, transparent) !important;
            }
            
            .page-item.disabled .page-link {
                color: color-mix(in srgb, var(--color-primary) 30%, transparent) !important;
            }
        }

        .draw-date {
            color: var(--color-black);
            font-size: 14px;
        }

        .draw-token {
            color: var(--color-black);
            font-weight: 200;
            font-size: 14px;
        }

        label {
            color: var(--color-primary);
            margin-bottom: 0.25rem;
        }

        @include media-breakpoint-down(md) {
            padding: 24px;
        }
    }

    .selectable-btn {
        background-color: transparent;
        border-radius: 12px;
        border: 2.5px solid var(--color-primary);
        color: var(--color-primary);

        &:not(:disabled) {
            &:hover,
            &.active {
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }

        &:disabled {
            opacity: 0.2;
        }
    }

    .cosmonaut-with-balloons {
        position: absolute;
        right: -70px;
        top: calc(50% - 35px);
        width: 200px;
        height: 200px;
    }

    .cosmonaut-with-duck {
        position: absolute;
        left: -130px;
        top: 120px;
        width: 200px;
        height: 200px;
        transform: rotateY(180deg);
    }

    .index-container {
        background-color: var(--color-primary-light);
        padding: 0 8px;
        color: var(--color-primary);
        border-radius: 7px;
        font-size: 14px;
        width: max-content;
        height: 32px;
    }

    .total-value-locked,
    .estimated-prize,
    .estimated-prize-usd,
    .next-draw,
    .user-deposit-amount {
        color: var(--color-black);
    }

    .table thead tr th {
        color: var(--color-primary);
    }

    @include media-breakpoint-down(md) {
        .prize-distribution-card {
            padding: 0;
            background-color: var(--color-white);
        }

        .draws-history-card {
            .draws-history-table {
                .table tbody tr td {
                    padding: 1.5rem 1.5rem;
                }
            }
        }

        .prize-distribution-card {
            .prize-distribution-table {
                .table tbody tr td {
                    padding: 1.5rem 1.5rem;
                }

                .table tbody tr:last-child {
                    margin-bottom: 0;
                }
            }

            .stat-bg-white {
                padding: 0;

                td {
                    padding: 1.5rem 1.5rem;
                }
            }
        }
    }
}
