@import 'src/styles/main';

.deposits-table {
    padding: 1rem 0;

    .collapsible-deposits {
        border: 0;
        padding: 12px 0;
    }

    .deposit-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary-light;
        border-radius: 8px;
        padding: 25px 32px;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 24px;
        }


        @include media-breakpoint-down(md) {
            align-items: stretch;
            justify-content: flex-start;
            flex-direction: column;
        }
    }

    .deposit-card-collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        padding-top: 24px;

        border-top: rgba(86, 52, 222, 0.3) 1px solid;

        h3 {
            font-size: 18px;
            line-height: 22px;
        }

        @include media-breakpoint-down(md) {
            align-items: stretch;
            justify-content: flex-start;
            flex-direction: column;
        }
    }

    .deposit-state {
        width: fit-content;
        padding: 7px 14px;

        box-shadow: 0 4px 23px #f1edff;

        background: #8C8C8C;
        color: white;

        font-size: 12px;
        &.success {
            background: $color-success;
        }

        &.failure {
            background: $color-failure;
        }
    }
}
