@import 'src/styles/main';

.deposits-table {
    padding: 1rem 0;

    .collapsible-deposits {
        border: 0;
        padding: 12px 0;
    }

    .deposit-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary-light;
        border-radius: 8px;
        padding: 25px 32px;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .deposit-card-collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        &:first-child {
            margin-top: 42px;
        }
    }

    .deposit-state {
        width: fit-content;
        padding: 7px 14px;

        box-shadow: 0 4px 23px #f1edff;

        background: #8C8C8C;
        color: white;

        font-size: 12px;
        &.success {
            background: $color-success;
        }

        &.failure {
            background: $color-failure;
        }
    }
}
