@import 'src/styles/main';

.balance-card {
    height: 100%;
    background-color: $color-primary;
    color: white;
    position: relative;
    overflow: hidden;

    .balance-number {
        font-size: 78px;
        font-weight: 400;
        line-height: 94px;
        letter-spacing: 0;
        text-align: left;
        color: white;
    }

    .coin-1 {
        position: absolute;
        height: 38px;
        width: 38px;
        top: -5%;
        left: 35%;
        object-fit: contain;
    }
    .coin-2 {
        position: absolute;
        height: 39px;
        width: 39px;
        right: -2%;
        top: 10%;
    }
    .coin-3 {
        position: absolute;
        height: 65px;
        width: 65px;
        right: 35%;
        bottom: -21.7px;
        object-fit: contain;
    }
}

.asset-card {
    margin-bottom: 1.5rem;

    .denom-icon {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
        object-fit: contain;
    }

    .denom-unknown-icon {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
        background-color: $color-primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.asset-amount {
    color: $color-primary;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;

    small {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0;
        text-align: left;
        color: $color-primary;
    }
}

.prize-to-claim {
    .denom-icon {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        object-fit: contain;
    }
}

.my-place-cta {
    width: 100%;
}

#withdrawModal {
    .withdraw-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: $color-black;
    }
    .arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $color-primary;

        img {            
            width: 10px;
            height: 10px;
        }
    }

    .address-container {
        background-color: $color-primary-light;
        border-radius: 15px;
        padding: 1rem 1.5rem;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
    }

    .amount-input {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}

@include media-breakpoint-down(lg) {
    .my-place-cta {
        width: max-content;
    }
}
