@import '~bootstrap/scss/bootstrap';

@import 'fonts';
@import 'colors';

$utilities: map-merge(
    $utilities,
    (
        'align':
            map-merge(
                map-get($utilities, 'align'),
                (
                    responsive: true,
                )
            ),
    )
);

@import '~bootstrap/scss/utilities/api';

html body {
    font-family: 'Gotham Rounded', sans-serif;
}

.Toastify__toast-container {
    width: 485px;
}

.Toastify__toast {
    border-radius: 12px !important;
    align-items: center;
    padding: 32px !important;
}

.Toastify__spinner,
.Toastify__toast-icon {
    width: 56px;
    height: 56px;
    object-fit: contain;
}

.scale-hover {
    cursor: pointer;
    transition: scale linear 150ms !important;

    &:hover {
        scale: 1.05 !important;
    }
}

.react-tooltip {
    max-width: 450px;
    min-width: 300px;
    width: 80%;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 calc((100vw - 1080px) / 2 * -1);
    padding: 0 calc((100vw - 1080px) / 2);

    @include media-breakpoint-down(xl) {
        margin: 0 calc((100vw - 930px) / 2 * -1);
        padding: 0 calc((100vw - 930px) / 2);
    }

    @include media-breakpoint-down(lg) {
        margin: 0 calc((100vw - 690px) / 2 * -1);
        padding: 0 calc((100vw - 690px) / 2);
    }

    @include media-breakpoint-down(md) {
        margin: 0 calc((100vw - 510px) / 2 * -1);
        padding: 0 calc((100vw - 510px) / 2);
    }

    @include media-breakpoint-down(sm) {
        margin: 0 calc((100vw - 100%) / 2 * -1);
        padding: 0 calc((100vw - 100%) / 2);
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

input[type='checkbox'] {
    cursor: pointer;
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        background-color: $color-white;
        border: 2px solid $color-black;
        border-radius: 4px;
    }

    &:checked:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        background-color: $color-primary;
        border: solid 2px $color-primary;
    }

    &:checked:after {
        content: "";
        display: block;
        width: 6px;
        height: 10px;
        border: solid $color-white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 3px;
        left: 7px;
    }
}
