@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'fonts';
@import 'colors';

html body {
    font-family: 'Gotham Rounded', sans-serif;
}

.tooltip-light {
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.11);
    color: $color-black !important;
    border-radius: 8px !important;
}

/* .tooltip-light.width-180 {
    width: 180px;
}

.tooltip-light.width-400 {
    width: 400px;
} */

.tooltip-light.font-bold {
    font-weight: bold;
}