$color-primary: #5634DE;
$color-primary-light: #F1EDFF;
$color-white: #FFFFFF;
$color-background: #F4F4F4;
$color-muted: #BBBBBB;
$color-black: #333333;
$color-border: #FFB516;
$color-dark-grey: #585858;
$color-grey: #8C8C8C;
$color-light-grey: #DEDEDE;
$color-success: #34ad09;
$color-success-light: #EDFFEF;
$color-failure: #FA7676;
$color-failure-light: #FFEDED;