@import 'src/styles/main';

/* The container must be positioned relative: */
.custom-select {
    position: relative;

    label {
        font-size: 16px;
    }
    &.readonly {
        > p {
            font-size: 16px;
            font-weight: 400;
            margin-left: 0.75rem;
        }
    }
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.custom-select-option {
    .menu-asset-icon {
        width: 22px;
        height: 22px;
        object-fit: contain;
    }
    
    .value-asset-icon {        
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .asset-amount {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: right;
        color: $color-primary;
    }
}
