@import 'src/styles/main';

.home-container {
    position: relative;
    padding-bottom: 80px;

    .min-height-550 {
        @include media-breakpoint-down(md) {
            min-height: 360px;
        }

        @include media-breakpoint-up(xxl) {
            min-height: 550px;
        }
    }

    @media screen and (min-height: 900.02px) and (min-width: 1400.02px) {
        padding-bottom: 0;
    }

    .cosmonaut-with-balloons {
        position: absolute;
        width: 225px;
        height: 225px;
        right: -100px;
        top: 70px;
        overflow: hidden;

        @include media-breakpoint-down(lg) {
            right: 50px;
        }

        @include media-breakpoint-down(md) {
            right: -25px;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .cosmonaut-with-balloons.no-prizes {
        position: unset;
        width: 165px;
        height: 165px;
        top: unset;
        right: unset;
        display: block !important;
    }

    .total-value-locked {
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 50px;
        color: var(--color-black);
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            font-size: 30px;
        }
    }

    .big-winners-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    .save-and-win-btn-container {
        position: fixed;
        display: flex;
        justify-content: center;
        left: 50%;
        bottom: 60px;

        .save-btn {
            border: 4px solid #371a45;
        }

        @media screen and (min-height: 900.02px) and (min-width: 1400.02px) {
            position: relative;
            bottom: unset;
            .save-btn {
                border: 0;
            }
        }

        @include media-breakpoint-down(sm) {
            bottom: 30px;
        }
    }

    .save-btn {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-around;
        width: 280px;
    }
}
