@import 'src/styles/main';

.home-container {
    .cosmonaut-with-balloons {
        position: absolute;
        width: 225px;
        height: 225px;
        right: -100px;
        top: 70px;
        overflow: hidden;
    }

    .total-value-locked {
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 50px;
        color: $color-black;
        text-transform: uppercase;
    }

    .big-winners-container {
        display: flex;
        flex-direction: column;
    }

    .save-btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 55px;
        width: 220px;
    }
}
