@import 'src/styles/main';

.steps-title {
    color: $color-black;
    margin-bottom: 4rem;
}

.glow-bg {
    box-shadow: 0px 0px 69px rgba(96, 150, 255, 0.1);
}

#quitModal {
    h3 {
        color: $color-black;
    }
}
