@import 'src/styles/main';

.app-card {
    background-color: var(--color-white);
    border-radius: 12px;
    position: relative;
    opacity: 0;
    animation: cardShow ease-out 400ms forwards;
    
    &.flat {
        border-radius: 12px;
        background-color: var(--color-primary-light);
        animation: none;
        opacity: 1;
    }
}

@keyframes cardShow {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
