@import 'src/styles/main';

.app-card {
    background-color: $color-white;
    border-radius: 13px;
    position: relative;
    scale: 1;
    opacity: 0;
    animation: cardShow ease-out 400ms forwards;

    @include media-breakpoint-down(md) {
        border-radius: 30px;
    }
    
    &.flat {
        border-radius: 8px;
        background-color: $color-primary-light;
        animation: none;
        opacity: 1;
    }
}

.app-card.clickable {
    cursor: pointer;
    transition: scale linear 150ms !important;

    &:hover {
        scale: 1.05 !important;
    }
}

@keyframes cardShow {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
