@import 'src/styles/main';

#dropsDetailsModal {
    h4 {
        color: $color-black;
    }

    .next-pool-info {
        color: $color-black;
        font-weight: 400;
    }

    .date {
        font-size: 12px;
        font-weight: 300;
        color: $color-muted;
    }

    .redelegated-prizes-card {
        .prize-remaining-amount {
            color: $color-primary;
        }
    }

    .index-container {
        background-color: $color-primary-light;
        padding: 0 8px;
        color: $color-primary;
        border-radius: 7px;
        font-size: 14px;
        width: max-content;
        height: 32px;
    }

    .draw-winners-table-container {
        .draw-winners-table {
            .table tbody tr td {
                padding: 25px 32px;

                .tx-icon-container {
                    img {
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                    }
                }

                .winner-address {
                    color: $color-black;
                    font-size: 14px;
                    font-weight: 400;
                }

                .tx-amount {
                    .amount {
                        color: $color-primary;
                    }

                    .usd-price {
                        color: $color-black;
                    }
                }

                .usd-price {
                    font-size: 12px;
                    color: $color-black;
                    font-weight: 300;
                }
            }
        }

        .pagination {
            .page-item .page-link {
                background-color: $color-background !important;
                border-color: $color-background !important;
            }
            .page-item.active:not(.without-border) .page-link {
                border-color: $color-black !important;
            }
        }
    }
}
