@import 'src/styles/main';

.transactions-table {
    .table tbody tr td {
        .tx-icon-container {
            width: 32px;
            height: 32px;

            background: #ffffff;
            border-radius: 7px;

            img {
                width: 14px;
                height: 14px;
                object-fit: contain;
            }
        }

        .msg-count-badge {
            background-color: $color-primary;
            color: $color-primary-light;
            font-size: 12px;
            max-height: 24px;
        }

        .tx-amount {
            color: $color-black;
            .denom {
                color: $color-primary;
            }
        }

        .usd-price {
            font-size: 12px;
            color: $color-black;
            font-weight: 200;
        }

        .tx-height {
            color: $color-primary;
            opacity: 0.8;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                opacity: 1;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .transactions-table {
        .table,
        .table tbody,
        .table tbody tr {
            display: block;
        }

        .table tbody td {
            display: inline-block;
            width: 100%;
            &:first-child {
                border-bottom-left-radius: 0px;
                border-top-right-radius: 13px;
            }

            &:last-child {
                border-bottom-left-radius: 13px;
                border-top-right-radius: 0px;
            }
        }

        .table tbody tr:first-child {
            margin-top: 0.75rem;
        }

        .table tbody tr:last-child {
            margin-bottom: 0.75rem;
        }

        .table tbody tr {
            margin-bottom: 1rem;
        }
    }
}
