@import 'src/styles/main';

.toast-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toast-title {
    font-family: 'Gotham Rounded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    color: var(--color-primary);
}

.toast-content {
    font-family: 'Gotham Rounded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
    white-space: pre-line;
}