@import 'src/styles/main';

.toast-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toast-title {
    font-family: 'Thunder', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    text-transform: uppercase;
    color: black;
}

.toast-content {
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: black;
    white-space: pre-line;
}
