@import 'src/styles/main';

.collapsible {
    padding: 20px 24px;
    border: 2px solid rgba(86, 52, 222, 0.2);
    border-radius: 15px;
    cursor: pointer;

    .collapsible-title {
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .with-button-border {
            border: 1.8px solid $color-primary;
            border-radius: 12px;
            padding: 8px 18px;
            font-size: 14px;
            line-height: 17px;
            color: $color-primary;
            cursor: pointer;
            width: unset;
        }
    }

    .collapsible-content {
        margin-top: 24px;
        color: $color-black;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    .collapsible-btn {
        cursor: pointer;
        width: 40px;
        height: 40px;

        img {
            width: 10px;
            transition: all 0.25s ease-out;
            transform-origin: center;
            transform: rotate(90deg);
        }

        &.is-showing img {
            transform: rotate(270deg);
        }
    }
}
