@import 'src/styles/main';

.faq {
    .faq-collapsible {
        padding: 20px 24px;
        border: 2px solid rgba(86, 52, 222, 0.2);
        border-radius: 15px;
        cursor: pointer;
    }

    .faq-collapsible .faq-collapsible-title {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .faq-collapsible .faq-collapsible-content {
        margin-top: 24px;
        color: $color-black;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    .faq-collapsible .collapsible-btn img {
        transition: all 0.25s ease-out;
        transform-origin: center;
        transform: rotate(90deg);
    }

    .faq-collapsible .collapsible-btn.is-showing img {
        transform: rotate(270deg);
    }
}
