@import 'src/styles/main';

.steps {
    margin-right: 6rem;

    @include media-breakpoint-down(sm) {
        margin-right: 2rem;
    }

    .step {
        position: relative;
        .step-index-container {
            z-index: 2;
            height: 28px;
            width: 28px;
            min-height: 28px;
            min-width: 28px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $color-light-grey;
            background-color: var(--step-bg-color);
            color: $color-grey;
            font-family: 'Gotham Rounded';
            font-size: 12px;
            font-weight: 700;
            margin-right: 0.5rem;
        }

        .title {
            vertical-align: bottom;
            line-height: 28px;
            color: $color-black;
            opacity: 0.6;
        }

        .subtitle {
            color: $color-muted;
            opacity: 0.6;
            margin-left: calc(28px + 0.5rem);
        }

        &.active {
            .step-index-container {
                border: 1px solid $color-primary;
                color: $color-primary;
            }

            .title {
                opacity: 1;
            }

            .subtitle {
                opacity: 1;
            }
        }

        &.completed {
            .step-index-container {
                border: 1px solid $color-primary;
                color: $color-white;
                background-color: $color-primary;
            }

            .title {
                opacity: 1;
            }

            .subtitle {
                opacity: 1;
            }
        }

        &.with-line {
            &::after {
                content: '';
                z-index: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 13px;
                width: 2px;
                background-color: $color-light-grey;
            }
        }
    }
}
