@import 'src/styles/main';

.steps {
    margin-right: 6rem;

    @include media-breakpoint-down(sm) {
        margin-right: 2rem;
    }

    .step {
        --primary-line-height: 0;
        --grey-line-height: 100%;
        --border-progress: 100%;
        --border-color: #DEDEDE;

        position: relative;
        .step-index-container {
            height: 28px;
            width: 28px;
            border-radius: 50%;
            margin-right: 0.5rem;
        }

        .index-container {
            z-index: 2;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--step-bg-color);
            color: $color-grey;
            font-family: 'Gotham Rounded';
            font-size: 12px;
            font-weight: 700;
        }

        .index-border,
        .index-default-border {
            height: 28px;
            width: 28px;
            border-radius: 50%;
            translate: -1.5px -1.5px;
            transform: rotateY(180deg);
        }
        
        .index-default-border {
            background: conic-gradient($color-light-grey 100%, 0, transparent);
        }
        
        .index-border {            
            background: conic-gradient(var(--border-color) var(--border-progress), 0, transparent);
        }

        .title {
            vertical-align: bottom;
            line-height: 28px;
            color: $color-black;
            opacity: 0.6;
        }

        .subtitle {
            color: $color-muted;
            opacity: 0.6;
            margin-left: calc(30px + 0.5rem);
        }

        .checkmark-container {
            width: 28px;
            height: 28px;
            background-color: $color-success;
            scale: 0;
        }

        &.active {
            --border-color: #5634DE;
            
            .index-container {
                color: $color-primary;
            }
            
            .title {
                opacity: 1;
            }

            .subtitle {
                opacity: 1;
            }
        }

        &.completed {
            --primary-line-height: 100%;
            --grey-line-height: 0;

            .index-container {
                color: $color-white;
            }

            .title {
                opacity: 1;
                color: $color-success;
            }

            .subtitle {
                opacity: 0.3;
                color: $color-success;
            }

            .checkmark-container {
                scale: 1;
            }
        }

        &.with-line {
            &::after {
                content: '';
                z-index: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 12px;
                width: 2px;
                height: var(--primary-line-height);
                background-color: $color-primary;
            }
            &::before {
                content: '';
                z-index: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 12px;
                width: 2px;
                height: var(--grey-line-height);
                background-color: $color-light-grey;
            }
        }
    }
}
