@import 'src/styles/main';

header {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .navlink {
            color: $color-primary;
            text-decoration: none;
            font-family: 'Gotham Rounded', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            opacity: 0.6;

            &.active {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

