@import 'src/styles/main';

header {
    position: relative;
    z-index: 100;
    height: 112px;
    color: $color-black;
    opacity: 0;
    border-radius: 13px;

    &.app {
        @include media-breakpoint-down(md) {
            width: 95vw;
            min-width: 95vw;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .logo {
        width: 130px;
        height: 35px;

        @include media-breakpoint-down(lg) {
            height: 50px;
            width: 90px;
        }
    }

    @include media-breakpoint-down(md) {
        height: 90px;
    }

    @include media-breakpoint-down(sm) {
        background: transparent;
        position: absolute !important;
    }

    nav {
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .navlink {
            color: $color-primary;
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0;
            text-align: left;
            opacity: 0.6;

            @include media-breakpoint-down(lg) {
                font-size: 16px;
            }

            &.active {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

header .background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 13px;
    background-color: $color-background;
    z-index: -1;
}

