@import 'src/styles/main';

header {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .navlink {
            color: $color-primary;
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0;
            text-align: left;
            opacity: 0.6;

            &.active {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}
