@import 'src/styles/main';

.big-winner-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
    width: 350px;

    .prize {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        color: $color-primary;
        text-transform: uppercase;
        width: 90px;
        text-align: left;
    }

    .address {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $color-black;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}