@import 'src/styles/main';

.progress-card {
    color: white;
    border: 2px solid var(--color-purple);
    background-color: color-mix(in srgb, var(--color-purple) 60%, transparent) !important;
    padding: 11px 16.5px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    & > .card-progress {
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        border: 2px solid var(--color-purple);
        border-radius: 12px;
        background-color: var(--color-purple);

        transition: width 0.3s ease-out;
    }
}