@import 'src/styles/main';

.progress-card {
    color: $color-white;
    border: 2px solid $color-primary;
    background-color: #5634de4d !important;
    padding: 11px 16.5px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    .card-info-icon {
        filter: brightness(0) invert(1);
    }

    & > .card-progress {
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        border: 2px solid $color-primary;
        border-radius: 12px;
        background-color: $color-primary;

        transition: width 0.3s ease-out;
    }
}
