@import 'src/styles/main';

.latest-winners-table {
    .winner-infos {
        color: $color-primary;
    }

    .winner-amount {
        color: $color-black;
        
        .denom {
            color: $color-primary;
        }

        .usd-price {
            font-size: 12px;
            color: $color-black;
            font-weight: 200;
        }
    }
    
    .prize-infos {
        font-size: 14px;
        line-height: 28px;
    }

    .date {
        font-size: 12px;
        color: $color-black;
        font-weight: 300;
    }

    label {
        color: $color-primary;
        margin-bottom: 0.25rem;
    }

    .table-item {
        background-color: $color-primary-light;
        color: $color-primary;
        border-radius: 12px;
        padding: 14px 22px;
    }

    .selectable-btn {
        background-color: transparent;
        border-radius: 12px;
        border: 2.5px solid $color-primary;
        color: $color-primary;

        &:not(:disabled) {
            &:hover,
            &.active {
                background-color: $color-primary;
                color: $color-white;
            }
        }

        &:disabled {
            opacity: 0.2;
        }
    }
}
