@import 'src/styles/main';

.table {
    border-collapse: separate;
    border-spacing: 0 1.5rem;

    @include media-breakpoint-down(xl) {
        border-spacing: 0 1rem;
    }
}

.table tbody tr {
    border: 0;
}

.table tbody tr td:first-child {
    border-color: $color-primary-light;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 3rem;
}

.table tbody tr td:last-child {
    border-color: $color-primary-light;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 3rem;
}

.table .table-header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #ffffff;

    opacity: 0;
}

.table tbody td {
    background: $color-primary-light;
    padding: 2.5rem 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    vertical-align: middle;
}

.pagination {
    .page-item.active .page-link {
        color: $color-black !important;
    }

    .page-item.active:not(.without-border) .page-link {
        border-color: $color-black !important;
        border-left-width: 3px;
        border-right-width: 3px;
    }

    .page-item .page-link {
        cursor: pointer;
        border-radius: 3px !important;
        border-color: $color-white !important;
        border-style: solid !important;
        border-top-width: 3px !important;
        border-bottom-width: 3px !important;
        background-color: $color-white !important;
        color: $color-muted !important;
    }
    
    .page-item.disabled .page-link {
        cursor: unset;
        color: $color-muted !important;
    }

    .page-item:first-child .page-link {
        border-top-left-radius: 14px !important;
        border-bottom-left-radius: 14px !important;
    }

    .page-item:last-child .page-link {
        border-top-right-radius: 14px !important;
        border-bottom-right-radius: 14px !important;
    }
}
