@import 'src/styles/main';

.luckiest-winner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    border-radius: 12px;
    padding: 2rem;

    h2 {
        color: $color-black;
    }

    small {
        font-weight: 300;
    }

    .luckiest-winner-address-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-black;
    }
}

.luckiest-winner-card:not(:first-child) {
    margin-left: 1.5rem;
}