@import 'src/styles/main';

.luckiest-winner-card {
    width: 280px;

    @include media-breakpoint-down(md) {
        width: 240px;
    }

    .title {
        color: $color-primary;
        font-size: 12px;
    }

    .value {
        color: $color-black;
        font-size: 14px;

        .amount {
            color: $color-primary;
            font-size: 15px;
        }
    }

    .separator {
        border-top: 1px solid rgba(86,52,222,.3);
    }

    .rank {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 7px;
        padding: 7px 8px;
        width: fit-content;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &.first {
            background-color: #ffba20;
        }

        &.second {
            background-color: #93949b;
        }

        &.third {
            background-color: #c07a50;
        }
    }
}
