@import 'src/styles/main';

.tooltip-light {
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.11);
    color: var(--color-black) !important;
    background-color: var(--color-white) !important;
    border-radius: 12px !important;
}

.tooltip-light.font-bold {
    font-weight: bold;
}

.app-tooltip {
    font-size: 14px;
    color: var(--color-black);
    
    a {        
        color: var(--color-black);
    }
}
