@import 'src/styles/main';

.progress {
    height: 5px !important;
    background-color: var(--color-primary-light) !important;
    overflow: visible !important;
}

.progress-bar {
    background-color: var(--color-primary) !important;
    -webkit-box-shadow: 0 0 10px 2px var(--color-white);
    box-shadow: 0 0 10px 2px var(--color-white);
}
