@import 'src/styles/main';

.best-prize-card {
    overflow: hidden;

    .cosmonaut-on-the-moon {
        position: absolute;
        bottom: -120px;
        height: 400px;
        width: 400px;

        @include media-breakpoint-down(md) {
            bottom: -100px;
            height: 300px;
            width: 300px;
        }

        @include media-breakpoint-down(sm) {
            bottom: -50px;
            height: 200px;
            width: 200px;
        }
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: $color-white;
        border-radius: 25px;
        padding: 0 27px;

        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .content {
        position: relative;
        padding: 38px 0 180px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color-primary url("../../assets/images/confetti_blur.svg") repeat;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;

        @include media-breakpoint-down(md) {
            padding: 38px 0 130px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 38px 0 100px 0;
        }

        .best-prize-container {
            display: flex;
            justify-content: center;
            font-family: 'GT Maru', sans-serif;
            font-weight: 900;
            color: $color-white;
            text-transform: uppercase;
            width: 100%;
            font-variant-numeric: tabular-nums;
        }

        .best-prize-countdown {
            position: absolute;
            bottom: 25px;
            padding: 0 20px;

            .network {
                background-color: $color-white;
                border-radius: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 13px;
                color: $color-primary;
                text-transform: uppercase;
                padding: 8px 12px;
            }

            .countdown {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 200px;

                .number-unit-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .number {
                    background-color: $color-white;
                    width: 48px;
                    height: 48px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    text-align: center;
                    letter-spacing: -0.17em;
                    color: $color-primary;
                }

                .unit {
                    margin-top: 8px;
                    color: $color-white;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}
