@import 'src/styles/main';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.amount-input {
    display: flex;
    flex-direction: column;
    color: var(--color-primary);

    .labels-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .label {
            color: var(--color-primary);
        }

        .sublabel {
            font-size: 14px;
            font-weight: 300;
            line-height: 28px;
            vertical-align: sub;
            text-align: right;
            color: var(--color-black);
        }
    }

    .amount-input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        border: 2px solid rgba(86, 52, 222, 0.2);

        .input-container {
            min-width: 0;
            .default-input {
                border: 0;
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                background-color: transparent;
                color: var(--color-black);

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--color-black);
                    opacity: 0.3;
                }
            }
        }

        .max-btn {
            border-width: 1px !important;
        }

        &.readonly {
            background-color: var(--color-primary-light);
        }

        .price-label {
            color: var(--color-grey);
            font-weight: 200;
        }
    }
}
