@import 'src/styles/main';

#claimModal {
    .modal-content.last-step {
        background-color: $color-white;
    }

    hr {
        box-sizing: border-box;
        border-radius: 12px;
        border: 1px solid rgba(86, 52, 222, 0.2);
        color: $color-muted;
        overflow: visible;
        text-align: center;
        height: 0;
        opacity: 1;

        margin-top: 2.25rem;
        margin-bottom: 2.25rem;

        &:after {
            background: #fff;
            content: 'OR';
            padding: 0 1.5rem;
            position: relative;
            top: -12px;
        }
    }

    .card-title {
        font-weight: 400;
        font-size: 32px;
        color: $color-primary;
    }

    .card-subtitle {
        font-weight: 400;
        font-size: 34px;
        line-height: 68px;
    }

    .prize-card {
        color: $color-primary;

        .denom-icon {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }

        .date {
            font-weight: 200;
            font-size: 12px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.7);
        }

        p {
            margin-top: -0.25rem;
            margin-bottom: 0;
            font-weight: 300;
            font-size: 12px;
        }
    }

    .scrollable {
        max-height: min(300px, 60vh);
        overflow-y: scroll;
    }
}

@include media-breakpoint-down(sm) {
    #claimModal {
        .card-title {
            font-size: 22px;
        }
        .card-subtitle {
            font-size: 24px;
        }

        .prize-card {
            .denom-icon {
                width: 28px;
                height: 28px;
            }

            .asset-amount {
                font-size: 16px;

                small {
                    font-size: 12px;
                }
            }
        }
    }
}
